apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nginx2
  labels:
    app: demo-nginx2
    version: v1.0.0
    component: frontend
    environment: demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: demo-nginx2
  template:
    metadata:
      labels:
        app: demo-nginx2
    spec:
      containers:
        - name: nginx
          image: nkp.devops-hc.dev:5000/app/nginx:1.25.3-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          volumeMounts:
            - name: html-volume
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html-volume
          configMap:
            name: demo-nginx-html2
